.inner-cursor{
    position: fixed;
    width: 75px;
    height: 75px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    opacity: 90%;
}

.inner-cursor.grow{
    width: 25px;
    height: 25px;
    /* transition: scale; */
}